@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 0 !important;
}

.slide-open {
    position: fixed;
    top: 0;
    transform: translate(0, 0) rotateX(0deg);
}

.slide-open-enter-active,
.slide-open-leave-active {
    transition: 0.2s;
}

.slide-open-enter-from {
    opacity: 0;
    transform: translate(0, -100px) perspective(700px) rotateX(45deg);
}

.slide-open-leave-to {
    opacity: 0;
    transform: translate(0, 10px);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
